*{
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}
body{
    margin-left: 0%;
    margin-right: 0%;
    
}
h2{
    margin: 1%;
    font-size: 28px;
}
.bluecontainer{
    height: 140%;
 }
 .bar {
     width: 30px;
     border-radius: 8px;
     background-image: linear-gradient(
     84deg
     , #2962ff, #5e0be0);
     height: 4px;
     margin-top: 10px;
     margin-left: 1%;
 }
 div.yellow{
     height: 34.5%;
     background-color:rgb(254,228,39);
     opacity: 0.8;
     transform:  skewY(6deg);
     float: unset;
     display: flex;
     width: 100%;
 }
 div.blue{
     height: 34.5%;
     background-color: rgb(74,122,255);
     
     transform:  skewY(356deg);
     float: unset;
     display: flex;
     margin-bottom: 0%;
 }
 .right{
     float: right;
     margin-top: 0px;
 }
 
 .bldiv{
     height: 90%;
     width: 30%;
     margin: 1%;
     transform: skewY(4deg);

 }
 .bldiv>img{
     height: 100px;
     width: 110px;
     margin-left: 38%;
     margin-top: 10%;
 }
 .gap{
     height: 50px;
     width: 400px;
     float: right;
     margin-top: 40px;
 }
 .gap>h2,.gap>div{
     float: right;
     clear: both;
     margin-right: 5%;
 }
 #btext{
     color: white;
     font-weight: 600;
     margin-top: 15px;
     text-align: center;
     line-height: 25px;
 }
 #to{
     margin-top: 16%;
 }
 #th{
     margin-top: 23%;
 }
 .yldiv{
     height: 350px;
     width: 90%;
     margin-left: 5%;
     margin-top: 6%;
     transform:  skewY(354deg);
     display: grid;
     grid-template-columns: 26% 26% 26% 26%;
     grid-template-rows: 100%;
     grid-gap: 6%; 
     overflow-x: scroll;
     -ms-overflow-style: none; 
     scrollbar-width: none; 
 }
 .yldiv::-webkit-scrollbar {
    display: none;
}
 
 .yldiv > div{
        width: 100%;
        height: 100%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        background-color: white;
 }
 #blue1{
     height: 30%;
     background-image: linear-gradient(
     84deg
     , rgb(0, 55, 255), rgb(92,15,226));
     margin-top: 37%;
 }
 #blue1>h3{
     color: white;
     margin-left: 50px;
     margin-bottom: 10px;
     padding-top: 30px;
 }
 #blue1>h4{
    color: white;
    margin-top: 10px;
    margin-left: 50px;
 }
 #ig{
     border-radius: 60%;
     float: right;
    margin-top: 5%;
    margin-right: 4%;
     
 }
 .cln{
     margin-top: 10%;
     
 }
 p{
     height: 125.5px;
     width: 70%;
     float: left;
     font-size: 14px;
     font-weight: 600;
     color: black;
     line-height: 25px;
     margin-top: 10%;
     margin-left: 5px;
 }