#get_estimate {
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    height: 50px;
    border: 1px solid rgb(230, 228, 228);
    box-shadow: 0px 0px 15px 0px #888888;
    color: #353535;
    font-size: 12px;
    opacity: 1;
}

#get_estimate>div:nth-child(1) {
    width: 15%;
    /* background-color: red */
}

#get_estimate>div {
    width: 25%;
    border-right: 1px solid rgb(204, 202, 202);

}

#get_estimate>div>div {
    margin-top: 3px;
    margin-left: 4px;
}

#get_estimate>div>button {
    width: 95%;
    height: 40px;
    margin: 3%;
    background-color: #2962FF;
    font-weight: 800;
    color: white;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}

#get_estimate>div>div>input,
#number_div_2>div>input {
    border: 0;
    outline: none;
    width: 80%
}


#get_estimate>div>div>input::placeholder {
    font-size: 12px;
}

#number_div_2 {
    display: flex;
   
}

#number_div_2>div {
    margin-right: 2%;
    font-weight: 400;
    font-size: 12px;
}


#get_estimate>div>div>select {
    border: 0;
    outline: none;
    width: 90%;
}

#select_box_1>option,
#select_box_2>option {
    font-size: 15px;
    padding: 5%;
    border-radius: 30px;
}

#get_estimate>div>div:nth-child(1) {
    margin-left: 3%;
}