*{
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}
.body{
    margin-left: 0%;
    margin-right: 0%;
    height: 100%;
    background-color: rgb(250,250,250);
    
}
.ltitle{
  color: black;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-top: 4%;
}
.body>.bar {
    width: 30px;
    border-radius: 8px;
    background-image: linear-gradient(
    84deg
    , #2962ff, #5e0be0);
    height: 4px;
    margin-top: 15px;
    margin-left: 49%;
}
.collapsible {
    color: rgb(96,96,96);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;
  }
  #fa{
      font-size: 25px;
      margin-right: 10px;
      padding-right: 10px;
  }
  button{
      background-color:rgb(250,250,250);
  }  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
  .mar{
      width: 60%;
      margin-left: 20%;
      margin-top: 2%;
  }
  p{
      line-height: 25px;
      font-size: 15px;
  }