#still_question {
    width: 100%;
    height: 130px;
    background-color: #EEE9FD;
    display: flex;
    margin-top: 5%;
}

#still_question>div:nth-child(1) {
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-top: 1%;
    background-color: rgb(255, 248, 248);
    border-radius: 50px;
}

#still_question>div:nth-child(1)>img {
    width: 60px;
    height: 100px;
    margin-left: 25px;

}

#still_question>div:nth-child(2) {
    width: 40%;
    height: 100px;
    margin-left: 1%;
    margin-top: 1%;

}

#still_question_1 {
    display: flex;
    flex-direction: column;
}

#still_question_1>div:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
    color: rgb(36, 35, 35);
}

#still_question_1>div:nth-child(2) {
    width: 105px;
    padding: 13px 20px;
    background-color: #3A3A3A;
    margin-top: 15px;
    color: white;
    font-weight: 650;
    border-radius: 2px;
}