        #ptrcontainer{
  width:70%;
  margin:auto;
  margin-bottom:40px;
  display:flex;
}

#ptrcolor{
  background-image:linear-gradient(
98deg
, #2962ff, #5e0be0);
  width: 30px;
    height: 4px;
    margin: 0 auto;
    border-radius: 2px;
}
#ptradvt{
  margin-top:100px;
}
#ptradvt>h2{
  text-align:center;
}
.ptrbox{
  width:32%;
  margin-left:10px;
  text-align:center;
}
.ptrimg{
 
    background-image:url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partner_features-b0f58d39a52d583c770d33353372979ce1bdb0975a8139955b0ddf1f4e4003c1.svg");
  height:180px;
  width:73%;
  margin:20px;
  margin-left:40px;
 
}
#box1{
 background-position:0em; 
}
#box2{
    background-position:-18em;
}
#box3{
    background-position:-34.5em;
}
