        #lifeasycontr{
  border:2px solid black;
  overflow:hidden;
  position:relative;
}
#lifebkg1{
  background: #fedf00;
  transform-origin:top left;
  transform:skewY(3deg);border:1px solid black;
}
#lifebkg2{
  background-image: linear-gradient(111deg, #90caf9,#8a60cc);
  transform-origin:top right;
  transform:skewY(-9deg);
   border:1px solid black;
}
#lifecontentbkg{
  transform:skewY(6deg);
  position:relative;
}
#lifeasycont{
  border:1px solid black;
  margin:10px ;
  padding:0px 80px;
}
#easy_under_dash{
  background-image:linear-gradient(98deg, #2962ff, #5e0be0);
  width: 30px;
  height: 4px;
  border-radius: 2px;
  margin-bottom:10px;
}  
#lifebox{
  display:flex;
  height:400px;
  padding-bottom:150px;
}
#lifebox h3,p{
  color:white;
}
#lifeimg{
  background-image:url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partners/driver_experience-87051334459376357b6125e2b776e61175461d3db60f2a5fdad972d51839137e.gif");
  background-repeat:no-repeat;
  width:70%;
  margin:60px 20px;
  position:relative;
}
#lifecontent{
  margin:0px 30px;
  color:black;
}
