













#growing_parent {
    width: 100%;
    height: 250px;
    display: block;
    background: linear-gradient(to right, #3056FA 30%, #4D26E9 60%);
}

#growing_parent>div:nth-child(1) {
    text-align: center;
    font-size: 23px;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

#growing_parent>div:nth-child(2) {
    display: flex;
}

#growing_parent>div:nth-child(2)>div {
    width: 18%;
    color: white;
    text-align: center;
    margin: auto;
}

.value_cover>h1 {
    font-size: 45px;
    margin-bottom: 0;
}

.value_cover>p {
    margin-top: -5px;
}