#lifeasycontr {
  overflow: hidden;
}

#lifebkg1 {
  background: #FEDF00;
  width: 100%;
  transform-origin: top left;
  transform: skewY(9deg);
  border: 0px solid black;
  float: left;
}

#lifebkg2 {
  background-color: #2962ff;
  transform-origin: top right;
  transform: skewY(-16deg);
  border: 0px solid black;
  float: right;
  width: 100%;       
  height: 100%;
  opacity: 0.8;
  margin-top: -15%;
}

#lifecontentbkg {
  transform: skewY(7deg);
  margin-bottom: 250px;
}

#lifeasycont {
  margin: 10px;
  padding: 0px 80px;
  margin-top: -35px;
  margin-bottom: 40px;
}

#easy_under_dash {
  background-image: linear-gradient(112deg, #2962ff, #5e0be0);
  width: 30px;
  height: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}

#lifebox {
  display: flex;
  height: 400px;
  padding-bottom: 150px;
}

#lifebox h3,
#lifebox p {
  color: white;
  font-size: 16px;
  margin: 15px;
}

#lifebox p {
  font-size: 14px;
}

#lifeimg {
  background-image: url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partners/driver_experience-87051334459376357b6125e2b776e61175461d3db60f2a5fdad972d51839137e.gif");
  background-repeat: no-repeat;
  width: 100%;
  margin: 60px;
  margin-right: -100px;
  position: relative;
}

#lifecontent {
  margin: 0px 200px;
  color: black;
}
